/* You can add global styles to this file, and also import other style files */
@import "mixins";

:root {
    --color-primary: rgb(119, 0, 119);
    --background-color: #212121;
    --navbar-color: #383737;
}

$dark-purple: #340258; // Adjust the color as needed

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(to bottom right, #2c0d3b, #000000);
}

button:hover {
    background-color: var(--color-primary);
}

.logo {
    display: flex;
    border-radius: 40px;

    &__image {
        width: 65px;

        &--big {
            width: 30%;
        }

        &--right {
            justify-content: flex-end;
            align-items: flex-end;
        }

        &--opacity {
            opacity: 0.5;
        }
    }

    &--right {
        align-items: flex-end;
        justify-content: flex-end;
    }
}

.mat-mdc-button>.mat-icon {
    margin-right: 0 !important;
}