.large-text {
  font-size: 3rem;
  color: white;
  text-align: center;
  width: fit-content;
}

.bottom-right-img {
  width: 20%;
}

.rotate {
  transform: rotate(-45deg);
}

.img-container{
  width: 100%;
}