<div class="row">
    <div class="col-12 pt-12 flex animate__animated animate__slideInDown">
        <p class="large-text">
            ¡Hola, soy 
        </p>
        <p class="large-text pl-1">M</p>
        <p class="large-text">arco!
        </p>
    </div>
    <div class="pt-2 pl-2 col-12">
        <p class="animate__animated animate__zoomIn">Ingeniero en Informática | Desarrollador Fullstack</p>
    </div>
</div>
<div class="row pt-6">
    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12">
        <div class="animate__animated animate__fadeIn">
            Soy un Ingeniero en Informática graduado de la Universidad Católica Andrés Bello. Me especializo en el desarrollo web mediante el stack MEAN, aunque también tengo diversos conocimientos y competencias en otras áreas. He trabajado bajo metodologías y marcos de desarrollo de software ágiles como Extreme Programming y SCRUM.
        </div>
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-12 flex-end">
        <div class="animate__animated animate__slideInLeft img-container flex-end">
            <img class="bottom-right-img rotate" src="../../../assets/icons/letra-m-_1_.webp" alt="letra m">
        </div>
    </div>
</div>