<div class="about-me pt-12">
    <p class="about-me__name about-me--large-text animate__animated animate__slideInDown">
        ¡Hola, soy Marco!
    </p>
    <p class="about-me__career pt-3 pl-1 animate__animated animate__zoomIn">Ingeniero en Informática | Desarrollador
        Fullstack
    </p>
    <div class="about-me__description">
        <p>
            Soy un Ingeniero en Informática graduado de la Universidad Católica Andrés Bello. Me especializo en el
            desarrollo web mediante el stack MEAN, aunque también tengo diversos conocimientos y competencias en otras
            áreas. He trabajado bajo metodologías y marcos de desarrollo de software ágiles como Extreme Programming y
            SCRUM.
        </p>
    </div>
</div>